@media (max-width: 1200px) {
  .container {
    #news-feed {
      padding-left: 3rem;
    }
  }
}
@media (max-width: 990px) {
  .container {
    #home-aside {
      position: static;
      width: 100%;
    }
    #news-feed {
      padding-left: 0;
    }
  }
}
@media (max-width: 580px) {
  #friend-requests {
    .container {
      .card {
        .list-group {
          .list-group-item {
            .media {
              img {
                width: 60px;
              }
            }
            .response-form {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #profile,
  #friends {
    .profile-banner {
      .profilePic {
        margin-right: 2rem;
        width: 100px;
      }
      .profile-name {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
